nav.on-site {
  /* Layout */
  @apply mb-2.5;
  /* Flex */
  @apply flex justify-center;

  & > menu {
    /* Layout */
    @apply gap-4 whitespace-nowrap;
    /* Grid */
    @apply flex flex-col flex-nowrap justify-center sm:flex-row sm:flex-wrap;
    /* Text */
    @apply text-(--palette-neutral-500) text-sm;

    li a {
      /* Layout */
      @apply px-2.5 py-1.5;
      /* Background */
      @apply hover:bg-ink--cool/6;
      /* Border */
      @apply rounded-full border border-transparent;

      &[aria-current="page"] {
        /* Text */
        @apply text-ink--cool;
        /* Background */
        @apply bg-ink--cool/8;
        /* Border */
        @apply border-ink--cool/12;
      }
    }
  }
}
