:is(.fas, .far, .fab, .fa-solid, .fa-regular, .fa-brands)[class] {
  @apply font-[revert] font-[weight:revert];

  &::before {
    @apply [font:var(--fa-font-regular)];
  }

  &:is(.fas, .fa-solid)::before {
    @apply [font:var(--fa-font-solid)];
  }

  &:is(.fab, .fa-brands)::before {
    @apply [font:var(--fa-font-brands)];
  }
}
