lighthouse-opts[] = "--output=json"
lighthouse-opts[] = "--chrome-flags=--headless --no-sandbox --disable-dev-shm-usage"
lighthouse-opts[] = "--only-categories=performance,accessibility,best-practices,seo"
lighthouse-opts[] = "--disable-full-page-screenshot"
