@layer components {
  body {
    & > main {
      /* Layout */
      @apply mx-auto w-full max-w-6xl px-4;
    }
  }

  body > header {
    /* Layout */
    @apply sticky top-0 z-50 px-4 pt-[calc(env(safe-area-inset-top)+.5rem)] pb-3;
    /* Grid */
    @apply grid items-end justify-items-end sm:justify-items-start sm:gap-3;
    @apply grid-cols-[1fr_70px_minmax(0,64.375rem)_1fr];
    @apply [grid-template-areas:"._logo_nav_."];
    @apply [&>:has(.logo)]:[grid-area:logo];
    @apply [&>nav.on-page]:[grid-area:nav];
    /* Background */
    @apply from-page via-white/90 to-white/90 bg-linear-to-b from-0% via-40% to-100%;
    /* Border */
    @apply border-(--palette-neutral-150) border-b;
    /* Effects */
    @apply shadow-sm backdrop-filter-[saturate(180%)_blur(10px)];
  }

  [id] {
    /* Layout */
    @apply scroll-mt-22;
  }

  body > footer {
    /* Layout */
    @apply px-6 pt-6 pb-[calc(env(safe-area-inset-bottom)+.5rem)] text-center;
    /* Background */
    @apply from-ink--cool/4 via-ink--cool/2 to-page bg-linear-to-b from-0% via-35% to-100%;
    /* Text */
    @apply text-ink--secondary;
  }

  body > main > section {
    /* Layout */
    @apply mx-4 my-8 px-4 py-16;

    & {
      & > hgroup {
        /* Layout */
        @apply mb-10 text-center;

        & > h2 {
          /* Text */
          @apply text-ink text-2xl font-bold md:text-3xl;

          & + .accentline {
            /* Layout */
            @apply w-20;
          }

          & ~ p {
            /* Layout */
            @apply mt-4;
            /* Text */
            @apply text-ink--secondary text-base md:text-lg;
          }
        }
      }
    }

    &[data-variant~="cool"] {
      /* Background */
      @apply from-surface/0 to-ink--cool/6 bg-linear-180;

      & > hgroup > h2 {
        /* Text */
        @apply text-ink--cool;

        & + .accentline {
          /* Background */
          @apply from-brand--cool bg-linear-to-r via-(--palette-cyan-400);
        }
      }

      &,
      & p,
      & li,
      & h3,
      & h4 {
        /* Text */
        @apply text-ink--secondary--cool;
      }
    }

    &.hero {
      /* Layout */
      @apply relative isolate z-1 mx-4 mt-8 mb-2 overflow-hidden rounded-lg text-center;
      /* Flex */
      @apply min-h-[clamp(520px,70vh,680px)] flex flex-col justify-center;
      /* Background */
      @apply bg-(--palette-slate-900) bg-cover bg-center;
      /* Text */
      @apply text-ink--inverse;
      /* Animation */
      @apply transition-[background-image_0.5s_ease-in-out];

      &::before {
        /* Generated Content */
        @apply content-[""];
        /* Layout */
        @apply absolute inset-0 -z-10;
        /* Background */
        @apply bg-black/2;
        /* Border */
        @apply rounded-(--radius-base);
      }

      & > hgroup > h2 {
        /* Layout */
        @apply mb-4;
        /* Text */
        @apply text-3xl leading-tight font-bold text-inherit md:text-5xl;
        /* Effects */
        @apply text-shadow-2xs;

        & + p {
          /* Layout */
          @apply mx-auto mb-6 max-w-2xl;
          /* Text */
          @apply text-base text-inherit md:text-lg;
          /* Effects */
          @apply opacity-90;
        }
      }

      & > .indicator {
        /* Layout */
        @apply absolute bottom-6 left-1/2 z-20;
      }
    }

    &.panel {
      /* Layout */
      @apply mx-4 mt-8 rounded-lg;
      /* Background */
      @apply bg-surface;
      /* Effects */
      @apply shadow-lg;
    }

    &.band {
      /* Layout */
      @apply mx-auto my-8 max-w-275 px-4 py-16;
    }
  }
}
