/* ===== Business Page Specific Styles ===== */
body.business {
  main>section {
    &.hero {
      --avif-option: url("/business/background-image.avif?v=20260219r01") type("image/avif") 1x;
      --webp-option: url("/business/background-image.webp?v=20260219r01") type("image/webp") 1x;
      --png-option: url("/business/background-image.png?v=20260219r01") type("image/png") 1x;
      @apply bg-[image-set(var(--avif-option),var(--webp-option),var(--png-option))];
    }

    &.band {
      @apply max-w-275 py-16 px-4 my-8 mx-auto;
    }

    h3 {
      @apply text-2xl font-bold my-2;
    }

    h4 {
      @apply text-xl font-bold my-2;
    }

    cite {
      @apply text-xs text-gray-500;
    }

    small {
      @apply text-xs text-gray-500;
    }

    article {
      @apply
        text-sm
        bg-(--section-bg)
        border border-[#bfdbfe] rounded-(--radius-base)
        shadow-sm
        p-6
        hover:shadow-[0_6px_18px_rgba(37,99,235,0.08)];

      p {
        @apply text-sm my-2;
      }

      &>ul {
        @apply list-disc list-outside pl-5 text-gray-700 space-y-1;
      }

      .icon {
        @apply inline-block text-4xl text-sky-600 mb-3;
      }

      .chip {
        @apply inline-block mb-2 ;
      }

      .kicker {
        @apply text-xs text-gray-500 tracking-[0.12em] mb-1;
      }

      &.growth {
        h4 {
          @apply tracking-wide;
        }

        p {
          @apply text-gray-700;
        }
      }
    }
  }
}