/* ===== Privacy Policy Page Specific Styles ===== */
body.privacy-policy {
  main {
    h1 {
      @apply mt-6 text-3xl leading-tight font-bold md:text-4xl;
    }

    h2 {
      @apply mt-14 border-b border-gray-300 pb-3 text-2xl font-semibold;
    }

    h3 {
      @apply mt-8 text-xl font-semibold;
    }

    ul {
      @apply mt-4 list-disc space-y-2 pl-6 leading-7 text-gray-700;
    }

    ol {
      @apply mt-4 list-decimal space-y-2 pl-6 leading-7 text-gray-700;
    }

    p {
      @apply mt-5 leading-7 text-gray-700;
    }

    hr {
      @apply border-gray-300;
    }

    a[href] {
      @apply underline hover:no-underline;
    }

    section.signature {
      @apply text-right;
    }
  }
}
